USE [master]
GO
/****** Object:  Database [EmpresaCore]    Script Date: 03/03/2026 04:36:56 p. m. ******/
CREATE DATABASE [EmpresaCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EmpresaCore.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmpresaCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EmpresaCore_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaCore]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmpleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddEmpleado]
    @Nombre VARCHAR(100),
    @Edad INT,
    @IdDepartamento INT
AS
BEGIN
    INSERT INTO Empleado (Nombre, Edad, IdDepartamento)
    VALUES (@Nombre, @Edad, @IdDepartamento)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmpleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteEmpleado]
    @IdEmpleado INT
AS
BEGIN
    DELETE FROM Empleado
    WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmpleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEmpleado]
AS
BEGIN
    SELECT 
        E.IdEmpleado,
        E.Nombre AS NombreEmpleado,
        E.Edad,
        E.IdDepartamento,
        D.Nombre AS NombreDepartamento
    FROM Empleado E
    INNER JOIN Departamento D
        ON E.IdDepartamento = D.IdDepartamento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIdEmpleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByIdEmpleado]
    @IdEmpleado INT
AS
BEGIN
    SELECT 
        E.IdEmpleado,
        E.Nombre AS NombreEmpleado,
        E.Edad,
        E.IdDepartamento,
        D.Nombre AS NombreDepartamento
    FROM Empleado E
    INNER JOIN Departamento D
        ON E.IdDepartamento = D.IdDepartamento
    WHERE E.IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmpleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateEmpleado]
    @IdEmpleado INT,
    @Nombre VARCHAR(100),
    @Edad INT,
    @IdDepartamento INT
AS
BEGIN
    UPDATE Empleado
    SET
        Nombre = @Nombre,
        Edad = @Edad,
        IdDepartamento = @IdDepartamento
    WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioLogin]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioLogin]
    @Email VARCHAR(100),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UsuarioNombre,
        ApellidoMaterno,
        ApellidoPaterno,
        RolNombre
    FROM Usuario
    WHERE Email = @Email
    AND Password = @Password;
END
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Edad] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 03/03/2026 04:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioNombre] [varchar](100) NOT NULL,
	[ApellidoPaterno] [varchar](100) NOT NULL,
	[ApellidoMaterno] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[RolNombre] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (1, N'RH')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (2, N'Sistemas')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (3, N'Contabilidad')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Edad], [IdDepartamento]) VALUES (1, N'Monchito Ramirez Jimenez', 21, 1)
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Edad], [IdDepartamento]) VALUES (2, N'Macario Manglares', 21, 2)
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Edad], [IdDepartamento]) VALUES (7, N'Alberto Roberto', 23, 2)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [UsuarioNombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [RolNombre], [FechaRegistro]) VALUES (1, N'Juan', N'Perez', N'Lopez', N'test@gmail.com', N'123456', N'Administrador', CAST(0x0000B401011EEBFC AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Usuario__A9D10534BC4EB89A]    Script Date: 03/03/2026 04:36:56 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
USE [master]
GO
