@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ML.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

<h2>Lista de Empleados</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.IdEmpleado</td>
                    <td>@emp.Nombre</td>
                    <td>@emp.Edad</td>
                    <td>@emp.Departamento?.Nombre</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">
                    No hay empleados registrados
                </td>
            </tr>
        }
    </tbody>
</table>